asgiref==3.7.2
branca==0.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
dnspython==2.6.1
email_validator==2.1.1
folium==0.16.0
geographiclib==2.0
geopy==2.4.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
password-strength==0.0.3.post2
pyodbc==5.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtlet2==0.9.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
QtPy==2.4.1
requests==2.32.2
six==1.16.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.1
xyzservices==2024.4.0